@{
    ViewData["Title"] = "Изображение загружено";
}

<h1>Изображение успешно загружено!</h1>
<label>Название изображения: @ViewData["fname"]</label>
<br />
<image src="@ViewData["fileLocation"]" />

